{% extends 'base.html' %}

{% block content %}
  <h1 class="mb-3">{{ project.name }}</h1>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">プロジェクト詳細</h5>
      <p class="card-text"><strong>説明:</strong> {{ project.description }}</p>
      <p class="card-text"><strong>就業期間:</strong> {{ project.start_date|date:"y/m/d" }} ～ {% if project.end_date %}{{ project.end_date|date:"y/m/d" }}{% else %}未定{% endif %}</p>
      <p class="card-text"><strong>勤務時間:</strong> {{ project.time|default:"未定" }}</p>
      <p class="card-text"><strong>勤務場所:</strong> {{ project.address|default:"未定" }}</p>
      <p class="card-text"><strong>状態:</strong> <span class="badge badge-secondary">{{ project.get_status_display }}</span></p>
    </div>
  </div>
  <div>
    <a href="{% url 'project_update' project.pk %}" class="btn btn-secondary">
      <i class="fas fa-edit"></i> 編集
    </a>
    <a href="{% url 'project_delete' project.pk %}" class="btn btn-danger">
      <i class="fas fa-trash"></i> 削除
    </a>
    <a href="{% url 'project_list' %}" class="btn btn-primary">
      <i class="fas fa-arrow-left"></i> 一覧に戻る
    </a>
  </div>
{% endblock %}